/*!* -- INFO & MISSION, VISION -- *!*/
.purple-blob {
    background: url("images/Vorm2.svg") no-repeat;
    background-size: 53% 60%;
    background-position: 160% 90%;
}

.orange-blob {
    background: url("images/Vorm1.svg") no-repeat;
    background-size: 53% 60%;
    background-position: -60% 135%;
}

#about-info-section,
#about-mv-section {
    min-height: 100vh;
}

#icon_logo {
    width: 100px;
    height: auto;
}

/* -- Wrappers om de visie en missie omhoog en omlaag te pushen -- */
.missie-wrapper {
    margin-bottom: 150px;
}

.visie-wrapper {
    margin-top: 250px;
}

@media screen and (max-width: 736px) {
    .visie-wrapper {
        margin-top: -1200px;
    }

    .missie-wrapper {
        margin-bottom: 900px;
    }

    .visie-wrapper .mobile,
    .missie-wrapper .mobile {
        text-align: justify !important;
    }

    .purple-blob {
        background-position: 155% 140%;
    }

    .orange-blob {
        background-position: -45% 160%;
    }
}