.orange-blob {
    background: url("images/Vorm1.svg") no-repeat;
    background-size: 55% 60%;
    background-position: -60% 0%;
}

#about-info-section,
#about-mv-section {
    min-height: 100vh;
}

#about-info-section h1 {
    font-size: 60px;
}

.missie-wrapper h2, .visie-wrapper h2 {
    font-size: 32px;
}

.missie-wrapper p, .visie-wrapper p {
    font-size: 17.5px;
}

#about-info-section p {
    font-size: 20px;
}

#icon_logo {
    position: absolute;
    z-index: -1;
    width: 450px;
    height: 450px;
    margin-left: 750px !important;
    margin-top: -120px !important;
    transform: rotate(35deg);
}

.missie-wrapper {
    margin-top: 250px;
    margin-left: 150px !important;
}

.visie-wrapper {
    margin-bottom: 250px;
    margin-right: 150px !important;
}

.arrow {
    height: 600px;
    transform: rotate(220deg);
    position: absolute;
    top: 550px;
    left: 550px;
}

@media screen and (min-width: 1920px) {
    .arrow {
        height: 600px;
        transform: rotate(220deg);
        position: absolute;
        top: 670px;
        left: 700px;
    }
}

@media screen and (min-width: 1180px) and (max-width: 1400px) {
    .arrow {
        height: 350px;
        top: 700px !important;
        left: 500px !important;
    }

}

@media screen and (min-width: 736px) and (max-width: 1180px) {
    .missie-wrapper {
        margin-bottom: -0px !important;
        margin-top: 0;
        margin-left: 0 !important;
    }

    .visie-wrapper {
        margin-top: 0;
        margin-bottom: 200px;
        margin-right: 0 !important;
    }

    .orange-blob {
        background-position: -30% 160%;
    }

    #icon_logo {
        display: none !important;
    }

    .arrow {
        display: none;
    }

    .about-centered {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 736px) {
    .visie-wrapper {
        margin-top: 0;
        margin-bottom: 200px;
        margin-right: 0 !important;
    }

    .missie-wrapper {
        margin-bottom: -0px !important;
        margin-top: 0;
        margin-left: 0 !important;
    }

    .section-wrapper{
        padding-top: -2000px;
    }

    .purple-blob {
        padding-top: -200px;
    }

    #about-info-section .mobile,
    .visie-wrapper .mobile,
    .missie-wrapper .mobile {
        text-align: left !important;
    }

    .orange-blob {
        background-position: -30% 160%;
    }

    #icon_logo {
        display: none !important;
    }

    .arrow {
        height: 120px;
        margin-top: 50px;
        top: 73%;
        left: 170px;
        transform: translateY(-50%);
        rotate: 180deg;
        scale: 2;
    }

}
