#faq-section {
    min-height: 95vh;
}
#question-mark {
    color: #8787ff;
    font-size: 50px;
}
.dashed-line {
    border: none;
    height: 5px;
    background: #000;
    background: repeating-linear-gradient(90deg, #6363ff,#6363FF 24px,transparent 24px,transparent 50px);
    width: 80%;
}