#faq-section {
    min-height: 95vh;
}

#question-mark {
    color: #8787ff;
    font-size: 50px;
}

.accordion {
    width: 60% !important;
}

.accordion-item {
    padding: 10px;
}

.faq-title {
    font-size: 30px;
}

@media screen and (max-width: 736px) {
    .accordion {
        width: 80% !important;
    }

    .faq-title {
        width: 80% !important;
    }
}