
.landing {
    margin-bottom: 134px;
}

.hoofdtitel {
    font-size: 79px;
    width: 428px;
    color: rgb(139, 23, 255);
    font-weight: bold;
}

.subtitel {
    font-size: 24px;
    color: #FF9B00;
}

.subtext {
    font-size: 20px;
}

.btn.btn-primary {
    background-color: #2F1966;
    border-color: #2F1966;
    width: 192px;
    line-height: 40px;
}

.btn.btn-primary:hover {
    background-color: #8B17FF;
    border-color: #8B17FF
}

.btn.btn-primary:active {
    background-color: #8B17FF !important;
}

.phonesection {
    padding-top: 140px;
    background: rgba(255, 155, 0, 0.15);
}

#cardtop {
    top: -50px;
}

#cardstyling {
    border-width: 0px;
    background: #ffffff00;
}

#cardstyling2 {
    border-width: 0px;
    background: #ffffff00;
}

#cardstyling3 {
    border-width: 0px;
    background: #ffffff00;
}

.iconcircle {
    top: -30px !important;
    --bs-primary: #8B17FF;
    --bs-primary-rgb: 139, 23, 255
}

.cardTitleStyle {
    text-align: center;
    font-size: 24px;
    color: #2F1966 !important;
}

.cardSubText {
    text-align: center;
    font-size: 18px;
    color: #62558A;
}

#phoneImg {
    height: 450px;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

#phoneImg2 {
    height: 450px;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

#phoneImg3 {
    height: 450px;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

.phone-image-grayed-out {
    filter: grayscale(100%);
    opacity: 0.4;
}

.phonepictures {
    background: rgba(255, 155, 0, 0.1);
}

.section-height {
    padding-top: 300px;
    padding-bottom: 400px;
}

#gradianttext {
    font-size: 80px;
    background-image: linear-gradient(43deg, #8787FF 0%, #2F1966 46%, #3F1F8F 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
}

.arrow {
    scale: 0.8;
    width: 1020px;
    position: absolute;
    margin-left: -908px;
    margin-top: -420px;
}

#spacebetween {
    margin-top: -30px;
}

#phonesection-scroll:target {
    scroll-behavior: smooth;
}


@media screen and (min-width: 1920px) {
    .landing {
        margin-bottom: 220px;
        margin-top: 50px;
    }
}

@media screen and (min-width: 1180px) and (max-width: 1400px) {
    .smarthphones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: purple;
    }

    .arrow {
        position: absolute;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .landing {
        margin-top: 100px;
    }

    .smarthphones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width: 767px) and (max-width: 992px) {
    .landing {
        margin-top: 100px;

    }

    #spacebetween{

    }
    .temp4 {
        display: flex;
        flex-direction: column !important;
        align-content: center !important;
        justify-content: center !important;
    }

    .smarthphones {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .phonesection {
        padding-top: 140px;
        background: rgba(255, 155, 0, 0.15);
        padding-bottom: 2px;
    }

    .arrow {
        display: none;
    }
    .iconcircle {
        top: 10px !important;
        --bs-primary: #8B17FF;
        --bs-primary-rgb: 139, 23, 255
    }
}

@media screen and (min-width: 360px) and (max-width: 767px) {

    .landing {
        margin-bottom: 210px;

    }

    .smarthphones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .landing {
        margin-top: 100px;
    }

    .temp4 {
        display: flex;
        flex-direction: column !important;
        align-content: center !important;
        justify-content: center !important;
    }
    .arrow {
        display: none;
    }
    #spacebetween {

    }

    #phoneImg, #phoneImg2 {
        margin-bottom: 50px;
    }

    .rounded {
        display: none;
    }

    .hoofdtitel {
        width: 375px;
        font-size: 70px;
    }

    .btn.btn-primary {
        width: 200px !important;
    }


}




.bs-icon {
    --bs-icon-size: .75rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: var(--bs-icon-size);
    width: calc(var(--bs-icon-size) * 2);
    height: calc(var(--bs-icon-size) * 2);
    color: var(--bs-primary);
    cursor: pointer !important;
}

.bs-icon-lg {
    --bs-icon-size: 2rem;
}

.bs-icon.bs-icon-primary {
    background: var(--bs-primary);
}

.bs-icon.bs-icon-circle {
    border-radius: 50%;
    scale: 0.7;
}

/*
.customCSS {
  background-color: red;
}

@media (min-width: 1400px) {
  #phoneImg {

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
*/
