
.landing {
    margin-bottom: 134px;
}

.hoofdtitel {
    font-size: 79px;
    width: 428px;
    color: rgb(139, 23, 255);
    font-weight: bold;
}

.subtitel {
    font-size: 24px;
    color: #FF9B00;
}

.subtext {
    font-size: 20px;
}

.btn.btn-danger {
    background-color: #2F1966;
    border-color: #2F1966;
    width: 192px;
    line-height: 40px;
}

.btn.btn-danger:hover {
    background-color: #8B17FF;
    border-color: #8B17FF
}

.btn.btn-danger:active {
    background-color: #8B17FF !important;
}

.phonesection {
    padding-top: 186px;
    background: rgba(255, 155, 0, 0.1);
    padding-bottom: 170px;
    margin-bottom: -8px;
}

#cardtop {
    top: -50px;
}

#cardstyling {
    border-width: 0px;
    background: #ffffff00;
}

#cardstyling2 {
    border-width: 0px;
    background: #ffffff00;
}

#cardstyling3 {
    border-width: 0px;
    background: #ffffff00;
}

.iconcircle {
    top: -30px;
    --bs-primary: #8B17FF;
    --bs-primary-rgb: 139, 23, 255
}

.cardTitleStyle {
    text-align: center;
    font-size: 32px;
    color: #2F1966 !important;
}

.cardSubText {
    text-align: center;
    font-size: 24px;
    color: #62558A;
}

#phoneImg {
    height: 500px;
}

#phoneImg2 {
    height: 500px;
}

#phoneImg3 {
    height: 500px;
}

.phonepictures {
    background: rgba(255, 155, 0, 0.1);
}

.section-height {
    padding-top: 500px;
    padding-bottom: 500px;
}

#gradianttext {
    font-size: 80px;
    background-image: linear-gradient(43deg, #8787FF 0%, #2F1966 46%, #3F1F8F 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
}

.arrow {
    width: 1020px;
    position: absolute;
    margin-left: -68px;
    padding-left: 0px;
    padding-right: 260px;
    padding-top: 0px;
    margin-top: -84px;
}

@media screen and (min-width: 1180px) and (max-width: 1400px) {
    .smarthphones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: purple;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .smarthphones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: red;
    }
    .landing {
        background-color: red;
        margin-top: 100px;
    }
}

@media screen and (min-width: 736px) and (max-width: 992px) {
    .smarthphones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: orange;
    }
    .landing {
        background-color: blue;
        margin-top: 100px;

    }
}

@media screen and (min-width: 414px) and (max-width: 767px) {
    .smarthphones {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: blue;
    }
    .landing {
        background-color: purple;
        margin-top: 100px;
    }
}




.bs-icon {
    --bs-icon-size: .75rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: var(--bs-icon-size);
    width: calc(var(--bs-icon-size) * 2);
    height: calc(var(--bs-icon-size) * 2);
    color: var(--bs-primary);
}

.bs-icon-lg {
    --bs-icon-size: 2rem;
}

.bs-icon.bs-icon-primary {
    background: var(--bs-primary);
}

.bs-icon.bs-icon-circle {
    border-radius: 50%;
}

/*
.customCSS {
  background-color: red;
}

@media (min-width: 1400px) {
  #phoneImg {

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
*/
