/* -- PRODUCT SECTION -- */
#product-section {
    min-height: 100vh;
}
#product-button {
    width: 40% !important;
}
#product-button button {
    padding: 10px !important;
}

.product {
    min-height: 100vh;
    background-color: rgb(224, 224, 224);
}
