/* -- PRODUCT SECTION -- */

#product-section {
    min-height: 100vh;
}

.border-purple {
    border-color: #8787FF !important;
}

.border-orange {
    border-color: #FF9B00 !important;
}

.border-orange .btn-outline-primary {
    border-color: #8B17FF;
    border-width: 3px;
    color: #2F1966;
}

.border-orange .btn-outline-primary:hover {
    border-color: #2F1966;
    border-width: 3px;
    color: white;
    background-color: #2F1966;
}

.card.border-purple {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.card.border-purple::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-color: #8787FF;
}

.card.border-orange {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.card.border-orange::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20px;
    background-color: #FF9B00;
}

#producten_section {
    min-height: 100vh;
}

#card_background {
    background: #FAF7F5;
}

#card_background2 {
    background: #FAF7F5;
}

.btn.btn-outline-success {
    color: #2F1966;
    border-color: #2F1966;
    border-width: 2px;
}


.btn.btn-outline-success:hover {
    color: #2F1966 !important;
    border-color: #2F1966 !important;
    background-color: transparent !important;
}


.btn.btn-outline-success:active {
    color: #2F1966 !important;
    border-color: #2F1966 !important;
    background-color: transparent !important;
}

.btn.btn-danger {
    background-color: #2F1966;
    border-color: #2F1966;
}

.btn.btn-danger:hover {
    background-color: #8B17FF;
    border-color: #8B17FF
}

.btn.btn-danger:active {
    background-color: #8B17FF !important;
}
#tweede_button {
    width: 150px;
    height: 48px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-danger {
    border-color: #fff;
}

.title-color {
    color: #2F1966;
}