:root {
    --primary-color-purple: #8b17ff;
    --secondary-color-orange: #ff9b00;
    --secondary-color-dark-blue: #2F1966;
    --secondary-color-light-blue: #8787ff;
    --secondary-color-white-grey: #faf6f4;

    --body-text-color: #1a1a1a;
    --tertiary-color-white: #ffffff;

    --font-family-header: "sirenia", sans-serif;
    --font-family-title: "proxima-nova", sans-serif;
    --font-family-body: "roboto-slab", serif;
}

* {
    margin: 0;
    padding: 0;
}

/* -- Webkits scrollbar -- */
body::-webkit-scrollbar {
    display: none;
}

/* -- Fonts and colors in classes -- */
.font-title {
    font-family: var(--font-family-title) !important;
}

.font-body {
    font-family: var(--font-family-body) !important;
}

.header-text-color {
    color: var(--secondary-color-dark-blue) !important;
}

.body-text-color {
    color: var(--body-text-color) !important;
}

/* -- NAV -- */
#nav-bar {
    top: 0;
    z-index: 10;
}

.navbar {
    background-color: var(--secondary-color-white-grey);
    padding: 0 !important;
}

.nav-item {
    padding-left: 2rem;
}

.nav-item a {
    color: var(--primary-color-purple);
    font-weight: 600;
    font-family: var(--font-family-title);
}

.navbar-brand {
    padding-left: 7%;
}

#navbarNav {
    padding-right: 7%;
}

.navbar-brand img {
    height: 30px;
}

.shopping-cart img {
    height: 20px;
    color: var(--primary-color-purple) !important;
}

.nav-link:hover {
    color: var(--secondary-color-orange) !important;
}

/* -- FOOTER --*/
.footer {
    background-color: var(--primary-color-purple);
}

.text-footer {
    color: var(--tertiary-color-white);
}

/* -- WINKELMAND -- */
.offcanvas {
    width: 30% !important;
}
.cart-column {
    display: flex;
    align-items: center;
    /*border-bottom: 1px solid black;*/
    /*margin-right: 1.5em;*/
    margin: 20px;
    padding-bottom: 10px;
}

.cart-item {
    width: 75%;
}

.cart-price {
    width: 20%;
    margin-left: 1.3em;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: 1.3em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    margin-left: 1.3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-item-quantity {
    color: #333;
    margin-left: 1.3em;
    font-size: 1.2em;
}

/*.cart-quantity-input {*/
/*    height: 34px;*/
/*    width: 50px;*/
/*    border-radius: 5px;*/
/*    border: 1px solid #56CCF2;*/
/*    background-color: #eee;*/
/*    color: #333;*/
/*    padding: 0;*/
/*    text-align: center;*/
/*    font-size: 1.2em;*/
/*    margin-right: 25px;*/
/*}*/

/*.cart-row:last-child {*/
/*    border-bottom: 1px solid black;*/
/*}*/

/*.cart-row:last-child .cart-column {*/
/*    border: none;*/
/*}*/

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}


/* -- General stuff -- */
.customColor {
    background-image: linear-gradient(30deg, #8787FF 0%, #2F1966 46%, #3F1F8F 80%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent !important;
    width: 260px;
}

.form-control:focus {
    border-color: #8787FF !important;
    background-color: #faf6f4 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0) !important;
}

.btn.btn-primary {
    width: 40% !important;
    background-color: #2F1966 !important;
    border: none !important;
}

.btn.btn-primary a {
    text-decoration: none !important;
    color: #fff !important;
}

.btn.btn-primary:hover {
    background-color: #8B17FF !important;
}

/* -- MEDIA QUERIES -- */
@media screen and (max-width: 736px) {
    .navbar-brand {
        padding-left: 20px !important;
    }

    .navbar-brand img {
        height: 25px !important;
    }

    .offcanvas {
        height: 100vh !important;
        width: 100% !important;
    }
}