:root {
    --tertiary-color-white: #ffffff;
    --tertiary-color-black: #353535;
    --tertiary-color-broken-white: #fff2e2;

    --primary-color-blue: #FF9B00;
    --primary-color-pink: #fc1dc8;

    --secondary-color-blue: #FF9B00;
    --secondary-color-pink: #ff69c2;

    --font-family-header: "sirenia", sans-serif;
    --font-family-title: "proxima-nova", sans-serif;
    --font-family-body: "roboto-slab", serif;
}
* {
    margin: 0;
    padding: 0;
}
/* -- LANDING -- */
/* -- ABOUT -- */
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar {
    background-color: var(--primary-color-blue);
    padding: 0 !important;
}
.nav-item {
    padding-left: 1.5rem;
}
.nav-item a {
    color: var(--tertiary-color-black);
    font-family: var(--font-family-title);
    font-weight: 400;
}
.navbar-brand {
    padding-left: 10%;
}
.navbar-brand img {
    height: 30px;
}
.container-fluid {
    padding: 10px;
}
#navbarNav {
    padding-right: 10%;
}

.container-info h2 {
    font-family: var(--font-family-title);
    font-size: 28px;
}
.container-info p {
    font-family: var(--font-family-body);
}

.footer {
    background-color: var(--primary-color-blue);
    font-family: var(--font-family-title);
}
/* -- PRODUCTS -- */
.card.purpleBorder {
    border-color: #8787FF;
    border-width: 4px;
}

.card.orangeBorder {
    border-color: #FF9B00;
    border-width: 4px;
}



.gratisPakketBtn {
    background-color: #2F1966;
    color: #fff;
}

.gratisPakketBtn:hover {
    background-color: #8B17FF;
}






/* -- FAQ -- */
/* -- CONTACT -- */
